<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!-- giving knowledge to the test in the framework about the listener -->
<listeners>
<!-- here we set the location of the listeners file after the src/test/java forlder -->
<listener class-name="testUtils.Listeners"/>
</listeners>
<!-- Setting Test separatelly for report purposes -->
  <test thread-count="5" name="End to end Framework Test">
    <classes>
      <class name="endtoEndMobile.HibrydTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Error Validations Test">
    <classes>
      <class name="endtoEndMobile.EcommerceTestCase1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
